page {
  background-color: rgba(0, 0, 0, 0);
}


.chat-list {
  width: 94%;
  padding: 0 3%;

  .chat {
    width: 100%;
    height: 100upx;
    padding: 20upx 0;
    border-bottom: solid 1upx #eaeaea;

    .row {
      display: flex;
      justify-content: flex-start;

      .button-msg {
        width: 25%;
        height: 40px;
        font-size: 12px;
        margin-left: 10px;
        // top: -100px;
      }


      .left {
        flex-shrink: 0;
        width: 100upx;
        height: 100upx;

        image {
          width: 100upx;
          height: 100upx;
          border-radius: 20upx;
        }
      }

      .right {
        flex-shrink: 1;
        width: 98%;
        padding-left: 2%;

        .top {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          .usernam {
            font-size: 26upx;
          }

          .time {
            font-size: 22upx;
            color: #bebebe;
          }
        }

        .bottom {
          width: 100%;
          height: 40upx;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .msg {
            font-size: 25upx;
            color: #777;
          }

          .tis {
            width: 35upx;
            height: 35upx;
            font-size: 22upx;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #eb4d3d;
            color: #fff;
            border-radius: 100%;
          }
        }
      }
    }
  }
}