page {
  position: relative;
  background-color: #fff;
}

.checkbox-box {
  display: flex;
  align-items: center;

  .checkbox {
    width: 35upx;
    height: 35upx;
    border-radius: 100%;
    border: solid 2upx #f06c7a;
    display: flex;
    justify-content: center;
    align-items: center;

    .on {
      width: 25upx;
      height: 25upx;
      border-radius: 100%;
      background-color: #f06c7a;
    }
  }

  .text {
    font-size: 28upx;
    margin-left: 10upx;
  }
}

.status {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  top: 0;
  /*  #ifdef  APP-PLUS  */
  height: var(--status-bar-height); //覆盖样式
  /*  #endif  */
}

.header {
  width: 92%;
  padding: 0 4%;
  height: 100upx;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
  /*  #ifdef  APP-PLUS  */
  top: var(--status-bar-height);

  /*  #endif  */
  .title {
    font-size: 36upx;
  }
}

.place {
  background-color: #ffffff;
  height: 100upx;
  /*  #ifdef  APP-PLUS  */
  margin-top: var(--status-bar-height);
  /*  #endif  */
}

.goods-list {
  width: 100%;
  padding: 20upx 0 120upx 0;

  .tis {
    width: 100%;
    height: 60upx;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32upx;
  }

  .row {
    width: calc(92%);
    height: calc(22vw + 40upx);
    margin: 20upx auto;

    border-radius: 15upx;
    box-shadow: 0upx 5upx 20upx rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 4;
    border: 0;

    .menu {
      .icon {
        color: #fff;
        // font-size: 25upx;
      }

      position: absolute;
      width: 30%;
      height: 100%;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
      color: #fff;
      z-index: 2;
    }

    .carrier {
      @keyframes showMenu {
        0% {
          transform: translateX(0);
        }

        100% {
          transform: translateX(-30%);
        }
      }

      @keyframes closeMenu {
        0% {
          transform: translateX(-30%);
        }

        100% {
          transform: translateX(0);
        }
      }

      &.open {
        animation: showMenu 0.25s linear both;
      }

      &.close {
        animation: closeMenu 0.15s linear both;
      }

      background-color: #fff;

      .checkbox-box {
        padding-left: 20upx;
        flex-shrink: 0;
        height: 22vw;
        margin-right: 20upx;
      }

      position: absolute;
      width: 100%;
      padding: 0 0;
      height: 100%;
      z-index: 3;
      display: flex;
      align-items: center;

      .goods-info {
        width: 100%;
        display: flex;
        padding-right: 20upx;

        .img {
          width: 22vw;
          height: 22vw;
          border-radius: 10upx;
          overflow: hidden;
          flex-shrink: 0;
          margin-right: 10upx;

          image {
            width: 22vw;
            height: 22vw;
          }
        }

        .info {
          width: 100%;
          height: 22vw;
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          position: relative;

          .title {
            width: 100%;
            font-size: 28upx;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            // text-align: justify;
            overflow: hidden;
          }

          .spec {
            font-size: 20upx;
            background-color: #f3f3f3;
            color: #a7a7a7;
            height: 30upx;
            display: flex;
            align-items: center;
            padding: 0 10upx;
            border-radius: 15upx;
            margin-bottom: 20vw;
          }

          .price-number {
            position: absolute;
            width: 100%;
            bottom: 0upx;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            font-size: 28upx;
            height: 60upx;

            .price {}

            .number {
              display: flex;
              justify-content: center;
              align-items: flex-end;

              .input {
                width: 60upx;
                height: 60upx;
                margin: 0 10upx;
                background-color: #f3f3f3;

                input {
                  width: 60upx;
                  height: 60upx;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  font-size: 26upx;
                }
              }

              .sub,
              .add {
                width: 45upx;
                height: 60upx;
                background-color: #f3f3f3;
                border-radius: 5upx;

                .icon {
                  font-size: 22upx;
                  width: 45upx;
                  height: 60upx;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  width: 92%;
  padding: 0 4%;
  background-color: #fbfbfb;
  height: 100upx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28upx;
  position: fixed;
  bottom: 0upx;
  z-index: 5;

  .delBtn {
    border: solid 1upx #f06c7a;
    color: #f06c7a;
    padding: 0 30upx;
    height: 50upx;
    border-radius: 30upx;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .settlement {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .sum {
      width: 50%;
      font-size: 28upx;
      margin-right: 10upx;
      display: flex;
      justify-content: flex-end;

      .money {
        font-weight: 600;
      }
    }

    .btn {
      padding: 0 30upx;
      height: 50upx;
      // background-color: #f06c7a;
      background-color: #FF3E3E;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 30upx;
    }
  }
}